<form ng-submit="">
    <div>स्वर जोड़े: {{varnamala1.unmatchedPairs}} </div>      
    <div>जोड़ना: {{varnamala1.firstPick.title}} </div> 
    <table ng-show="varnamala_tab" class="mainTable">
        <tr ng-repeat="row in varnamala1.grid">
            <td ng-repeat="tile in row" ng-click="varnamala1.flipTile(tile)">
                <swar-Directive swar="swar1" tile="tile" ></swar-Directive>                
            </td>
        </tr>
    </table>
    <div class="message">{{varnamala1.message}}</div>    
     
  </form>