<form ng-submit="">    
    <div>स्वर  जोड़े: {{varnamala2.unmatchedPairs}}</div>
    <div>जोड़ना: {{varnamala2.firstPick.title}} </div>
    <table ng-show="varnamala_tab" class="mainTable">
        <tr ng-repeat="row in varnamala2.grid">
            <td ng-repeat="tile in row" ng-click="varnamala2.flipTile(tile)">
                <swar-Directive tile="tile" swar="swar2"></swar-Directive>  
            </td>
        </tr>
    </table>
    
    <div class="message">{{varnamala2.message}}</div>
    
 </form>